{% load endless wagtailcore_tags %}

{% paginate 10 entries %}
{% for entry in entries %}
    <li>
        <time class="cbp_tmtime" datetime="">
            <span>{{ entry.date|date:"d/m/Y" }}</span>
            <span>{{ entry.date|date:"F" }}</span>
        </time>
        <i class="cbp_tmicon rounded-x hidden-xs"></i>
        <div class="cbp_tmlabel">
            <h2><a href="{% pageurl entry %}">{{ entry.title }}</a></h2>
            <div class="row blog blog-medium">
                <div class="col-md-12">
                    <ul class="list-unstyled list-inline blog-info blog-info-top">
                        <li><i class="fa fa-calendar"></i> {{ entry.date|timesince }} ago.</li>
                        <li class="pull-right"><i class="fa fa-comments"></i> <a href="{% pageurl entry %}#disqus_thread"></a></li>
                    </ul>

                    {% if entry.description %}
                        {{ entry.description|richtext }}
                    {% endif %}

                    <p>
                        <a class="btn-u btn-u-sm" href="{% pageurl entry %}">Read More
                            <i class="fa fa-angle-double-right margin-left-5"></i>
                        </a>
                    </p>

                    <ul class="list-unstyled list-inline blog-tags blog-info-bottom">
                        <li>
                            <i class="fa fa-tags"></i>
                            {% for tag in entry.tags.all %}
                                <a href="{% url "blog:tag_detail" tag.slug %}">{{ tag }}</a>
                            {% endfor %}
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </li>
{% endfor %}
{% show_more %}