{% load endless wagtailcore_tags %}

{% paginate 10 collections %}
{% for series in collections %}
    <li>
        <time class="cbp_tmtime" datetime="">
            <span>{{ series.date|date:"d/m/Y" }}</span>
            <span>{{ series.date|date:"F" }}</span>
        </time>
        <i class="cbp_tmicon rounded-x hidden-xs"></i>
        <div class="cbp_tmlabel">
            <h2><a href="{{ series.get_absolute_url }}">{{ series.title }}</a></h2>
            <div class="row blog blog-medium">
                <div class="col-md-12">
                    <ul class="list-unstyled list-inline blog-info blog-info-top">
                        <li><i class="fa fa-calendar"></i> {{ series.date|timesince }} ago.</li>
                        <li class="pull-right"><i class="fa fa-comments"></i> <a href="{{ series.get_absolute_url }}#disqus_thread"></a></li>
                    </ul>

                    {{ series.description|richtext }}

                    <p>
                        <a class="btn-u btn-u-sm" href="{{ series.get_absolute_url }}">Read More
                            <i class="fa fa-angle-double-right margin-left-5"></i>
                        </a>
                    </p>i>
                </div>
            </div>
        </div>
    </li>
{% endfor %}
{% show_more %}