{% extends 'blog_base.html' %}
{% load wagtailcore_tags wagtailimages_tags sp_blog_tags %}

{% block title %} | {{ entry.title }}{% endblock title %}

{% block content_title %}{{ entry.title }}{% endblock content_title %}

{% block template_css %}
    {{ block.super }}
    <style>
        .rich-text img {
            max-width: 100%;
            height: auto;
        }
        .responsive-object {
            position: relative;
        }
        .responsive-object iframe,
        .responsive-object object,
        .responsive-object embed {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
    </style>
{% endblock template_css %}

{% block template_js %}
    {{ block.super }}
    <script type="text/javascript">
        jQuery(document).ready(function() {
            App.init();
            FancyBox.initFancybox();
            hljs.initHighlightingOnLoad();
        });
    </script>
{% endblock template_js %}

{% block breadcrumbs %}
    <li><a href="{% url 'blog:entries' %}">Blog</a></li>
    <li class="active">{{ entry.title }}</li>
{% endblock breadcrumbs %}

{% block content %}
    <!--Blog Post-->
    <div class="blog margin-bottom-40">
        <h2>{{ entry.description|richtext }}</h2>
        <div class="blog-post-tags">
            <ul class="list-unstyled list-inline blog-info">
                <li><i class="fa fa-calendar"></i> {{ entry.date|timesince }} ago on {{ entry.date|date:"l, F d Y" }}</li>
                {% if entry.author %}
                    <li>Posted by
                        {% if entry.author.first_name and entry.author.last_name %}
                            <a href="">{{ entry.author.first_name }} {{ entry.author.last_name }}</a>.
                        {% elif entry.author.first_name %}
                            <a href="">{{ entry.author.first_name }}</a>.
                        {% else %}
                            <a href="">{{ entry.author.username }}</a>.
                        {% endif %}
                    </li>
                {% endif %}
                {% if entry.comments_enabled %}
                    <li><i class="fa fa-comments"></i> <a href="{{ entry.get_absolute_url }}#disqus_thread"></a></li>
                {% endif %}
            </ul>
            {% if entry.tags %}
                <ul class="list-unstyled list-inline blog-tags">
                    <li>
                        <i class="fa fa-tags"></i>
                        {% for tag in entry.tags.all %}
                            <a href="{% url "blog:tag_detail" tag.slug %}">{{ tag }}</a>
                        {% endfor %}
                    </li>
                </ul>
            {% endif %}
        </div>

        <article>
            {% for block in entry.body %}
                {% if block.block_type == 'heading' %}
                    <h1>{{ block.value }}</h1>
                {% else %}
                    <section class="block-{{ block.block_type }}">
                        {% if block.block_type == 'entry' %}
                            {{ block.value|richtext }}
                        {% elif block.block_type == 'snippet' %}
                            {{ block.value }}
                        {% elif block.block_type == 'image' %}
                            {% image block.value width-1024 as block_img %}
                            <img src="{{ block_img.url }}" alt="{{ block_img.alt }}" class="img-responsive img-rounded" />
                        {% elif block.block_type == 'list' %}
                            <ul class="list-unstyled">
                                {% for value in block.value %}
                                    <li>{{ value }}</li>
                                {% endfor %}
                            </ul>
                        {% else %}
                            {{ block }}
                        {% endif %}
                    </section>
                {% endif %}
                <br />
            {% endfor %}
        </article>

        {# If this entry is part of a series, list all associated entries & Previous + Next buttons #}
        {% if entry.series_set.count > 0 %}
            <div class="panel panel-dark margin-bottom-40">
                <div class="panel-heading">
                    <h3 class="panel-title"><i class="fa fa-edit"></i> Series Pages</h3>
                </div>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Page</th>
                            <th>Description</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for series in entry.series_set.all %}
                            {% ListSeriesEntries series.pk as series_entries %}
                            {% for series_entry in series_entries %}
                                <tr>
                                    {% if series_entry.title == entry.title %}
                                        <td><span class="text-primary">{{ forloop.counter }}</span></td>
                                        <td><span class="text-primary">{{ series_entry.title }}</span></td>
                                        <td><span class="text-primary">{{ series_entry.description|striptags }}</span></td>
                                    {% else %}
                                        <td>{{ forloop.counter }}</td>
                                        <td><a href="{{ series_entry.get_absolute_url }}">{{ series_entry.title }}</a></td>
                                        <td>{{ series_entry.description|richtext }}</td>
                                    {% endif %}
                                </tr>
                            {% endfor %}
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        {% endif %}
    </div>
    <!--End Blog Post-->
{% endblock content %}

{% block page_footer %}
    {% if entry.comments_enabled %}
        <hr>
        <div id="page-footer">
            {# Disqus Integration #}
            {% include "disqus/disqus.html" %}
        </div>
    {% endif %}
{% endblock page_footer %}

{% block disqus_count %}
    <script type="text/javascript">
        var data-disqus-identifier = 'blog-entry-{{ entry.id }}'
    </script>
    {# Disqus Count Integration #}
    {% include "disqus/disqus_count.html" %}
{% endblock disqus_count %}