{% extends 'blog_base.html' %}

{% block template_css %}
    {{ block.super }}
{% endblock template_css %}

{% block template_js %}
    {{ block.super }}
    <script type="text/javascript">
        jQuery(document).ready(function() {
            App.init();
            FancyBox.initFancybox();

            $.endlessPaginate({
                paginateOnScroll: true,
                paginateOnScrollChunkSize: 5,
                paginateOnScrollMargin: 20
            });
        });
    </script>
{% endblock %}

{% block title %}
    {% if day %}
        | {{ day|date:"l F Y" }} Entries
    {% elif month %}
        | {{ month|date:"F Y" }} Entries
    {% elif year %}
        | {{ year|date:"Y" }} Entries
    {% endif %}
{% endblock title %}

{% block content_title %}
    {% if day %}
        Showing Entries For <strong>{{ day|date:"l F Y" }}</strong> | <small><a href="{% url 'blog:entries' %}">Show all</a></small>
    {% elif month %}
        Showing Entries For <strong>{{ month|date:"F Y" }}</strong> | <small><a href="{% url 'blog:entries' %}">Show all</a></small>
    {% elif year %}
        Showing Entries For <strong>{{ year|date:"Y" }}</strong> | <small><a href="{% url 'blog:entries' %}">Show all</a></small>
    {% else %}
        Showing All Entries
    {% endif %}
{% endblock content_title %}

{% block breadcrumbs %}
    {% if not day and not month and not year %}
        <li class="active">Blog</li>
    {% else %}
        <li><a href="{% url 'blog:entries' %}">Blog</a></li>
        {% if year %}
            <li class="active">{{ year|date:"Y" }}</li>
        {% else %}
            {% if month %}
                {% url 'blog:entries_year' month|date:"Y" as year_url %}
                <li><a href="{{ year_url }}">{{ month|date:"Y" }}</a></li>
                <li class="active">{{ month|date:"F" }}</li>
            {% else %}
                {% url 'blog:entries_year' day|date:"Y" as year_url %}
                <li><a href="{{ year_url }}">{{ day|date:"Y" }}</a></li>
                {% url 'blog:entries_month' day|date:"Y" day|date:"n" as month_url %}
                <li><a href="{{ month_url }}">{{ day|date:"F" }}</a></li>
                <li class="active">{{ day|date:"j" }}</li>
            {% endif %}
        {% endif %}
    {% endif %}
{% endblock breadcrumbs %}

{% block content %}
    {% if entries %}
        <ul class="timeline-v2">
            {% include 'sp_blog/endless_entries.html' %}
        </ul>
    {% else %}
        <span class="text-warning">No articles found.</span>
    {% endif %}
{% endblock content %}