{% extends 'blog_base.html' %}

{% block sub_title %} | Series{% endblock sub_title %}

{% block content_title %}Show All Series{% endblock content_title %}

{% block template_css %}
    {{ block.super }}
    <!-- CSS Page Style -->
    <link rel="stylesheet" href="{{ STATIC_URL }}spca/vendors/unify/assets/css/pages/shortcode_timeline2.css">
{% endblock template_css %}

{% block template_js %}
    <!-- JS Page Level -->
    <script type="text/javascript" src="{{ STATIC_URL }}spca/vendors/unify/assets/js/app.js"></script>
    <script src="{{ STATIC_URL }}endless_pagination/js/endless-pagination.js"></script>
    <script type="text/javascript">
        jQuery(document).ready(function() {
            App.init();
            FancyBox.initFancybox();

            $.endlessPaginate({
                paginateOnScroll: true,
                paginateOnScrollChunkSize: 5,
                paginateOnScrollMargin: 20
            });
        });
    </script>
{% endblock %}

{% block breadcrumbs %}
    <li><a href="{% url 'blog:entries' %}">Blog</a></li>
    <li class="active">Series</li>
{% endblock breadcrumbs %}

{% block content %}
    {% if collections %}
        <ul class="timeline-v2">
            {% include 'sp_blog/endless_series.html' %}
        </ul>
    {% else %}
        <span class="text-warning">No Articles Found.</span>
    {% endif %}
{% endblock %}
