{% extends 'blog_base.html' %}
{% load endless wagtailcore_tags %}

{% block title %} | {{ series.title }}{% endblock title %}

{% block content_title %}{{ series.title }}{% endblock content_title %}

{% block template_css %}
    {{ block.super }}
{% endblock template_css %}

{% block template_js %}
    {{ block.super }}
    <script type="text/javascript">
        jQuery(document).ready(function() {
            App.init();
            FancyBox.initFancybox();
        });
    </script>
{% endblock template_js %}

{% block breadcrumbs %}
    <li><a href="{% url 'blog:entries' %}">Blog</a></li>
    <li><a href="{% url 'blog:series_list' %}">Series</a></li>
{% endblock breadcrumbs %}

{% block content %}
    {% if series %}
        <div class="blog margin-bottom-40">
            <p class="lead">{{ series.description|richtext }}</p>
            <hr>
            {% if entries %}
                <ul class="timeline-v2">
                    {% include 'sp_blog/endless_entries.html' %}
                </ul>
            {% else %}
                <span class="text-warning">No articles found.</span>
            {% endif %}
        </div>
    {% else %}
        <span class="text-warning">No series found.</span>
    {% endif %}
{% endblock %}

{% block page_footer %}
    {% if series.comments_enabled %}
        <hr>
        <div id="page-footer">
            {# Disqus Integration #}
            {% include "disqus/disqus.html" %}
        </div>
    {% endif %}
{% endblock page_footer %}

{% block disqus_count %}
    <script type="text/javascript">
        var data-disqus-identifier = 'blog-series-{{ series.id }}'
    </script>
    {# Disqus Count Integration #}
    {% include "disqus/disqus_count.html" %}
{% endblock disqus_count %}