{% load sp_blog_tags %}

<div class="posts margin-bottom-40">

    <!-- Series -->
    {% ListSeries as collection %}
    {% if collection %}
        <div class="headline headline-md"><h2>Series</h2></div>
        <ul id="latest-list" class="list-unstyled sidebar-list">
            {% for series in collection %}
                <li><a href="{% url "blog:series_detail" series.slug %}">{{ series|title }}</a> ({{ series.entry_count }})</li>
            {% endfor %}
        </ul>
    {% endif %}
    <!-- End Series -->

    <!-- Blog Tags -->
    {% GetBlogTags as tags %}
    {% if tags %}
        <div class="headline headline-md"><h2>Blog Tags</h2></div>
        <ul class="list-unstyled blog-tags margin-bottom-30">
            {% for tag in tags %}
                <li><i class="fa fa-tags"></i><a href="{% url "blog:tag_detail" tag|slugify %}">{{ tag|title }} ({{ tag.tag_count }})</a></li>
            {% endfor %}
        </ul>
    {% endif %}
    <!-- End Blog Tags -->

    <!-- Archive -->
    {% ListArchive as months %}
    {% if months %}
        <div class="headline headline-md"><h2>Archive</h2></div>
        <ul id="latest-list" class="list-unstyled sidebar-list">
            {% for month in months %}
                {% ifchanged month.date.year %}
                    {{ month.date.year }}
                {% endifchanged %}
                <li class="indent"><a href="{% url "blog:entries_month" year=month.date.year month=month.date.month %}">{{ month.date|date:"F" }}</a> ({{ month.entry_count }})</li>
            {% endfor %}
        </ul>
    {% endif %}
    <!-- End Archive -->

</div>