{% extends 'blog_base.html' %}

{% block title %} | Tags | {{ tag.name|title }}{% endblock title %}

{% block content_title %}Showing Entries Tagged With <strong>{{ tag.name|title }}</strong> | <small><a href="{% url 'blog:entries' %}">Show All</a></small>{% endblock content_title %}

{% block template_css %}
    {{ block.super }}
{% endblock template_css %}

{% block template_js %}
    {{ block.super }}
    <script type="text/javascript">
        jQuery(document).ready(function() {
            App.init();
            FancyBox.initFancybox();
        });
    </script>
{% endblock template_js %}

{% block breadcrumbs %}
    <li><a href="{% url 'blog:entries' %}">Blog</a></li>
    <li>Tags</li>
    <li class="active">{{ tag.name|title }}</li>
{% endblock breadcrumbs %}

{% block content %}
    {% if entries %}
        <ul class="timeline-v2">
            {% include 'sp_blog/endless_entries.html' %}
        </ul>
    {% else %}
        <span class="text-warning">No articles found.</span>
    {% endif %}
{% endblock %}