{% extends 'pages_base.html' %}
{% load wagtailcore_tags pipeline %}

{% block title %}| About: {{ self.title }}{% endblock title %}

{% block template_css %}
    {{ block.super }}
    <style>
        .rich-text img {
            max-width: 100%;
            height: auto;
        }
        .responsive-object {
            position: relative;
        }
        .responsive-object iframe,
        .responsive-object object,
        .responsive-object embed {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
    </style>
{% endblock template_css %}

{% block template_js %}
    {% javascript 'cms_js' %}
    <script type="text/javascript">
        jQuery(document).ready(function() {
            App.init();
            App.initParallaxBg();
        });
    </script>
{% endblock template_js %}

{% block breadcrumbs %}
    <li><a href="/about/">About</a></li>
    <li class="active">{{ self.title|lower|capfirst }}</li>
{% endblock breadcrumbs %}

{% block content %}
    <div class="container content-md team-v1">
        <div class="margin-bottom-60">
            {{ self.description|richtext }}
        </div>
        <hr>
        <div class="container content content-center">
            {% for block in self.body %}
                {% if block.block_type == 'image_content' %}
                    <ul class="list-unstyled row content-left">
                        {% for value in block.value %}
                            <li class="col-md-6 margin-bottom-50">{{ value }}<hr></li>
                        {% endfor %}
                    </ul>
                {% endif %}
            {% endfor %}
        </div>
    </div>
{% endblock content %}