{% extends 'base.html' %}
{% load pipeline %}

{% block template_css %}
    {{ block.super }}
    {% stylesheet 'cms_css' %}
{% endblock template_css %}

{% block template_js %}
    {% javascript 'cms_js' %}
    <script type="text/javascript">
        jQuery(document).ready(function() {
            App.init();
            FancyBox.initFancybox();
        });
    </script>
{% endblock template_js %}

{% block slider %}
    <div class="interactive-slider-v2 img-toronto">
        <div class="container">
            <h1 id="brand-desc">Web Development With Python & Django</h1>
            <p>My personal profile, portfolio and documented conversion to Python.</p>
        </div>
    </div>
{% endblock slider %}

{% block base_content %}
    <div class="container content">
        {% for block in self.body %}
            <div class="row">
                {{ block }}
            </div>
        {% endfor %}
    </div>
{% endblock base_content %}