{% extends 'pages_base.html' %}

{% block title %}| About: Frameworks{% endblock title %}

{% block breadcrumbs %}
    <li><a href="/about/">About</a></li>
    <li><a href="/about/frameworks/">Frameworks</a></li>
    <li class="active">Django</li>
{% endblock breadcrumbs %}

{% block content %}
    <div class="container content">
        <div class="row">
            <div class="col-md-6">
                <h2 class="title-v2">{{ content.framework_title }}</h2>
                <p class="lead"><strong>The web framework for perfectionists with deadlines.</strong></p>
                {{ content.framework_content }}
                <a href="#" class="btn-u">Visit Site</a>
            </div>
            <div class="col-md-6">
                <img class="img-responsive img-center" src="{{ STATIC_URL }}sp_pages/img/django.png" alt="" />
            </div>
        </div>
    </div>
{% endblock content %}