{% extends 'pages_base.html' %}

{% load wagtailcore_tags %}

{% block title %}| About Me{% endblock title %}

{% block template_css %}
    {{ block.super }}

{% endblock template_css %}

{% block template_js %}
    {{ block.super }}
    <script type="text/javascript">
        jQuery(document).ready(function() {
            App.init();
            App.initParallaxBg();
            FancyBox.initFancybox();
            ProgressBar.initProgressBarHorizontal();
        });
    </script>
{% endblock template_js %}

{% block base_breadcrumbs %}
    <div class="breadcrumbs-v3 breadcrumbs-lg img-profile">
        <div class="container">
            <h1>Shawn Parsons</h1>
            <p>Self-taught Developer, Full Time Nerd</p>
        </div>
    </div>
{% endblock base_breadcrumbs %}

{% block content %}
    <!--=== Container Part ===-->
    <div class="container content-sm">
        <div class="row">
            <!-- Social Network -->
            <div class="col-md-6 md-margin-bottom-50">
                <div class="headline-left margin-bottom-30">
                    <h2 class="headline-brd heading-md">ABOUT <span class="color-green">ME</span></h2>
                </div>
                {{ self.biography|richtext }}
            </div>
            <!-- End Social Network -->

            <!-- Progress Bar -->
            <div class="col-md-6 progress-box md-margin-bottom-50">
                <div class="headline-left margin-bottom-30">
                    <h2 class="headline-brd heading-md">MY <span class="color-green">SKILLS</span></h2>
                </div>

                {% for block in self.body %}
                    {% if block.block_type == 'skills' %}
                        {% for value in block.value %}
                            {{ value }}
                        {% endfor %}
                    {% endif %}
                {% endfor %}

            </div>
            <!-- End Progress Bar -->
        </div><!--/end row-->
    </div>
    <!--=== End Container Part ===-->

    <!--=== Quote v1 ===-->
    <div class="quote-v1 parallaxBg">
        <div class="container">
            <!-- Wisdom is merely the aggregated results of a lifetime of mistakes, survived, acknowledged and remembered.-->
            <p>{{ self.quote }}</p>
            <span>{{ self.credit }}, <a href="{{ self.source_url }}">{{ self.source }}</a></span>
        </div>
    </div>
    <!--=== End Quote v1 ===-->

    <!--=== Portfolio ===-->
    <div class="container content-sm">
        <div class="headline-center margin-bottom-30">
            <h2 class="headline-brd heading-md">LATEST <span class="color-green">PROJECTS</span></h2>
            <p class="space-lg-hor">Upcoming projects will go here...</p>
        </div>

        <!-- Cube Portfolio -->
        <div class="cube-portfolio container margin-bottom-20">
            <div class="margin-bottom-30">
                <div id="filters-container" class="cbp-l-filters-text">
                    <div data-filter="*" class="cbp-filter-item-active cbp-filter-item"> Everything </div> |
                    <div data-filter=".django" class="cbp-filter-item"> Django </div> |
                    <div data-filter=".kivy" class="cbp-filter-item"> Kivy </div> |
                    <div data-filter=".other" class="cbp-filter-item"> Other </div>
                </div><!--/end Filters Container-->
            </div>

            <div id="grid-container" class="cbp-l-grid-gallery">

            </div><!--/end Grid Container-->
        </div>
        <!-- End Cube Portfolio -->
    </div>
    <!--=== End Portfolio ===-->

    <!--=== Call To Action v2 ===-->
    <div class="call-action-v2 parallaxBg">
        <div class="container">
            <h2>Hire Me!</h2>
            <p>Right now, I'm looking to get some real work experience with Python & Django.  Depending on the project, I may be willing to negotiate cheaper contract rates.  "Free" is not going to happen though.</p>
            <a href="#" class="btn-u">Get In Touch</a>
        </div>
    </div>
    <!--=== End Call To Action v2 ===-->
{% endblock content %}