{% extends 'pages_base.html' %}
{% load pipeline %}

{% block title %}| About: Phase 3{% endblock title %}

{% block body_class %} coming-soon-page{% endblock body_class %}

{% block template_css %}
    {{ block.super }}
    {% stylesheet 'coming_soon_css' %}
{% endblock template_css %}

{% block template_js %}
    {{ block.super }}
    {% javascript 'coming_soon_js' %}
    <script type="text/javascript">
        jQuery(document).ready(function() {
            App.init();
            PageComingSoon.initPageComingSoon();
        });
    </script>
    <!-- Background Slider (Backstretch) -->
    <script>
        $.backstretch([
          "{{ STATIC_URL }}spca/vendors/unify/assets/img/sliders/9.jpg",
          "{{ STATIC_URL }}spca/vendors/unify/assets/img/bg/8.jpg",
          "{{ STATIC_URL }}spca/vendors/unify/assets/img/bg/15.jpg"
          ], {
            fade: 1000,
            duration: 7000
        });
    </script>
{% endblock template_js %}

{% block body_content %}
    <div class="coming-soon-border"></div>
    <div class="coming-soon-bg-cover"></div>

    <div class="container cooming-soon-content">
        <div class="row">
            <div class="col-md-12 coming-soon">
                <h1>Coming Soon</h1>
                <p><strong>When both <a href="/about/phase-1/">Phase 1</a> and <a href="/about/phase-2/">Phase 2</a> are completed, Phase 3 will begin.</strong></p><br>
                <a href="/" class="btn-u btn-green btn-brd-hover btn-u-dark">Take Me Home</a>
            </div>
        </div>
    </div>
{% endblock body_content %}