{% extends 'pages_base.html' %}

{% load wagtailcore_tags %}

{% block title %}| Todo{% endblock title %}

{% block page_title %}Todo{% endblock page_title %}

{% block template_css %}
    {{ block.super }}
{% endblock template_css %}

{% block template_js %}
    <script type="text/javascript">
        jQuery(document).ready(function() {
            App.init();
            FancyBox.initFancybox();
        });
    </script>
{% endblock template_js %}

{% block breadcrumbs %}
    <li><a href="/">Home</a></li>
    <li><a href="/about/">About</a></li>
    <li class="active">{{ self.title }}</li>
{% endblock breadcrumbs %}

{% block base_content %}
    <div class="container content">
        <div class="row tab-v3">
            {% for block in self.body %}
                {% if block.block_type == 'menu' %}
                    <div class="col-md-3">
                        <ul class="nav nav-pills nav-stacked">
                            <li class="active"><a href="#home-2" data-toggle="tab"><i class="fa fa-home"></i> Home</a></li>
                            {% for value in block.value %}
                                {{ value }}
                            {% endfor %}
                        </ul>
                    </div>
                {% else %}
                    <div class="col-sm-9">
                        <div class="tab-content">
                            <div class="tab-pane fade in active" id="home-2">
                                <h2 class="headline-brd">THE DJANGO WEB DEVELOPMENT FRAMEWORK</h2>
                                {{ self.description|richtext }}
                            </div>
                            {% for value in block.value %}
                                <div class="tab-pane fade in" id="{{ value.title|slugify }}">
                                    <h4>{{ value.title }}</h4>
                                    {{ value }}
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
{% endblock base_content %}