{% load wagtailcore_tags %}

<span>
    {% if self.checked == True %}
        <i class="fa fa-check-square-o"></i>
    {% else %}
        <i class="fa fa-square-o"></i>
    {% endif %}
    {{ self.item }}
</span>