{% load wagtailcore_tags %}

{% if self.file %}
    <span class="snippet-file"><em>{{ self.file }}</em></span>
{% endif %}
<pre>
    <code class="{{ self.code_type }}">
        {{ self.code|linenumbers|richtext }}
    </code>
</pre>
{% if self.source_url %}
    <p class="meta">Source <i class="fa fa-angle-right"></i> <a href="{{ self.source_url }}">{{ self.source_url }}</a></p>
{% endif %}