<div class="bg-grey margin-bottom-40">
    <div class="heading headline-center margin-bottom-20">
        <div class="content container">
            <h2>For Developers</h2>
            {{ self.description }}
        </div>
    </div>
    <div class="container">
        {{ self.phase_one }}
        {{ self.phase_two }}
        {{ self.phase_three }}
    </div>
</div>