{% load wagtailcore_tags %}

<div class="margin-bottom-40">
    <div class="headline-center margin-bottom-40 service-block service-block-default">
        <h2>The Mission</h2>
        {{ self.mission }}
    </div>
    <div class="headline-center margin-bottom-40 service-block service-block-dark">
        <h2>Disclaimer</h2>
        {{ self.disclaimer }}
    </div>
</div>