{% load wagtailimages_tags %}

<div class="container margin-bottom-40">
    <div class="col-md-12 heading headline-center margin-bottom-40">
        <h2>Small Business Customers</h2>
        {{ self.description }}
    </div>
    <div class="col-md-12">
        <div class="row content-boxes-v5 margin-bottom-30">
            <div class="col-md-6">
                {% image self.who_you_are_img max-450x300 as block_img %}
                <a class="thumbnail fancybox" data-rel="gallery" title="Who You Are" href="{{ block_img.url }}">
                   <img src="{{ block_img.url }}" alt="{{ block_img.alt }}" height="{{ block_img.height }}" width="{{ block_img.width }}" class="img-thumbnail img-responsive" />
                </a>
            </div>
            <div class="col-md-6">
                <div class="headline-left margin-bottom-10"><h3 class="headline-brd">Who You Are</h3></div>
                {{ self.who_you_are }}
            </div>
        </div>
        <div class="row content-boxes-v5 margin-bottom-30">
            <div class="col-md-6">
                {% image self.who_i_am_img max-450x300 as block_img %}
                <a class="thumbnail fancybox" data-rel="gallery" title="Who You Are" href="{{ block_img.url }}">
                   <img src="{{ block_img.url }}" alt="{{ block_img.alt }}" height="{{ block_img.height }}" width="{{ block_img.width }}" class="img-thumbnail img-responsive" />
                </a>
            </div>
            <div class="col-md-6">
                <div class="headline-left margin-bottom-10"><h3 class="headline-brd">Who I Am</h3></div>
                {{ self.who_i_am }}
            </div>
        </div>
    </div>
</div>