{% load wagtailcore_tags wagtailimages_tags %}

{% if self.image %}
    <div class="team-img">
        {% image self.image max-320x320 as block_img %}
        <img src="{{ block_img.url }}" alt="{{ block_img.alt }}" class="img-responsive img-rounded center-block" />
        <ul>
            <li><a href="{{ self.content_url }}"><i class="icon-custom icon-sm rounded-x fa fa-link"></i></a></li>
        </ul>
    </div>
{% endif %}
<h3><a class="hover-effect" href="{{ self.content_url }}">{{ self.title }}</a></h3>
{% if self.caption %}
    <h4><em>{{ self.caption }}</em></h4>
{% endif %}
<div class="description">{{ self.description }}</div>

