<div class="col-md-4">
    <div class="service content-boxes-v5 margin-bottom-30">
        <i class="fa {{ self.icon }} service-icon"></i>
        <div class="desc">
            <div class="headline"><h2>{{ self.title }}</h2></div>
            <p><strong>{{ self.tag_line }}</strong></p>
            {{ self.description }}
        </div>
    </div>
</div>