{% load wagtailcore_tags %}

<div class="headline-left margin-bottom-60">
    <a name="{{ self.title|slugify }}"><h2 class="headline-brd">{{ self.title }}</h2></a>
    {{ self.description|richtext }}
    {% if self.requirements %}
        <hr>
        <h3>Requirements</h3>
        <ul class="list-unstyled">
            {% for item in self.requirements %}
                <li>{{ item }}</li>
            {% endfor %}
        </ul>
        <hr>
    {% endif %}
    {% if self.github_url %}
        <a href="{{ self.github_url }}" class="btn-u btn-brd btn-brd-hover btn-u-dark margin-right-10">Github Code</a>
    {% endif %}
    {% if self.app_url %}
        <a href="{{ self.app_url }}" class="btn-u">App In Action</a>
    {% endif %}
</div>