{% load markdown_tags %}

<h3 class="heading-xs">{{ self.name }} <span class="pull-right">{{ self.percent }}%</span></h3>
<div class="progress progress-u progress-xxs">
    <div class="progress-bar progress-bar-dark" role="progressbar" data-width="{{ self.percent }}"></div>
</div>
<div>{{ self.description|markdownify|safe }}</div>