{% load wagtailcore_tags search_tags %}
{% ParseBlocks search_query in object.body as blocks %}

{% if object|to_class_name == 'BlogPage' or object|to_class_name == 'Series' %}
    <h2><a href="{{ object.get_absolute_url }}">{{ object.title }}</a></h2>
{% else %}
    <h2><a href="{% pageurl object %}">{{ object.title }}</a></h2>
{% endif %}

<div class="row">
    <div class="col-md-12">
        {% if object.date or object.comments_enabled %}
            <ul class="list-unstyled list-inline blog-info blog-info-top">
                {% if object.date %}
                    <li><i class="fa fa-calendar"></i> {{ object.date|timesince }} ago on {{ object.date }}</li>
                {% endif %}
                {% if object.comments_enabled %}
                    <li class="pull-right"><i class="fa fa-comments"></i> <a href="{{ entry.get_absolute_url }}#disqus_thread"></a></li>
                {% endif %}
            </ul>
        {% endif %}
        <div class="search-result">
            {% if result.search_description %}
                <p><em>{{ object.search_description|highlight:search_query }}</em></p>
            {% endif %}
        </div>
        {% if object|to_class_name == 'BlogPage' or object|to_class_name == 'Series' %}
            <p><a class="btn-u btn-u-sm" href="{{ object.get_absolute_url }}">Read More <i class="fa fa-angle-double-right margin-left-5"></i></a></p>
        {% else %}
            <p><a class="btn-u btn-u-sm" href="{% pageurl object %}">Read More <i class="fa fa-angle-double-right margin-left-5"></i></a></p>
        {% endif %}
    </div>
</div>