{% load wagtailcore_tags search_tags %}
{% ParseBlocks search_query in object.body as blocks %}

{% if object|to_class_name == 'BlogPage' or object|to_class_name == 'Series' %}
    <h2><a href="{{ object.get_absolute_url }}">{{ object.title }}</a></h2>
{% else %}
    <h2><a href="{% pageurl object %}">{{ object.title }}</a></h2>
{% endif %}

<div class="row">
    <div class="col-md-12">
        {% if object.date or object.comments_enabled %}
            <ul class="list-unstyled list-inline blog-info blog-info-top">
                {% if object.date %}
                    <li><i class="fa fa-calendar"></i> {{ object.date|timesince }} ago on {{ object.date }}</li>
                {% endif %}
                {% if object.comments_enabled %}
                    <li class="pull-right"><i class="fa fa-comments"></i> <a href="{{ entry.get_absolute_url }}#disqus_thread"></a></li>
                {% endif %}
            </ul>
        {% endif %}
        <div class="search-result">
            {% if result.search_description %}
                <p><em>{{ object.search_description|highlight:search_query }}</em></p>
            {% endif %}
        </div>
        {% ParseBlocks search_query in object.body as blocks %}
        {% if blocks.excerpts or object.description %}
            <div class="search-result">
                <ul>
                    {% if search_query.lower in object.description.lower %}
                        <li>{{ object.description|highlight:search_query }}</li>
                    {% endif %}
                    {% for excerpt in blocks.excerpts %}
                        {% if excerpt %}
                            <li>{{ excerpt|highlight:search_query }}</li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
        {% if blocks.snippets or blocks.list_excerpts %}
            <!-- Accordion v1 -->
            <div class="panel-group acc-v1" id="accordion-1">
                {% if blocks.snippets %}
                    {% for snippet in blocks.snippets %}
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-1" href="#collapse-snippet-{{ forloop.counter }}">
                                        <i class="fa fa-code"></i> Code Snippet | <em>{{ snippet.value.file }}</em>
                                    </a>
                                </h4>
                            </div>
                            <div id="collapse-snippet-{{ forloop.counter }}" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <div class="row">
                                        <pre>
                                            <code class="{{ snippet.value.code_type }}">
                                                {{ snippet.value.code|linenumbers|richtext }}
                                            </code>
                                        </pre>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                {% endif %}
                {% if blocks.list_excerpts %}
                    {% for list_items in blocks.list_excerpts %}
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-1" href="#collapse-list-{{ forloop.counter }}">
                                        <i class="fa fa-list"></i> List
                                    </a>
                                </h4>
                            </div>
                            <div id="collapse-list-{{ forloop.counter }}" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <div class="row">
                                        <ul class="list-unstyled">
                                            {% for list_item in list_items %}
                                                <li>{{ list_item|highlight:search_query }}</li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
        {% endif %}
        {% if object|to_class_name == 'BlogPage' or object|to_class_name == 'Series' %}
            <p><a class="btn-u btn-u-sm" href="{{ object.get_absolute_url }}">Read More <i class="fa fa-angle-double-right margin-left-5"></i></a></p>
        {% else %}
            <p><a class="btn-u btn-u-sm" href="{% pageurl object %}">Read More <i class="fa fa-angle-double-right margin-left-5"></i></a></p>
        {% endif %}
    </div>
</div>