{% extends 'base.html' %}
{% load floppyforms static wagtailcore_tags pipeline %}

{% block body_class %}template-searchresults{% endblock %}

{% block title %}| Search{% endblock title %}

{% block template_css %}
    {{ block.super }}
    {% stylesheet 'search_css' %}
{% endblock template_css %}

{% block template_js %}
    {# Search & Blog use the same javascript files... #}
    {% javascript 'blog_js' %}
    <script type="text/javascript">
        jQuery(document).ready(function() {
            App.init();
            FancyBox.initFancybox();
            hljs.initHighlightingOnLoad();
        });
    </script>
{% endblock template_js %}

{% block slider %}
    <div class="headline-center service-block service-block-dark">
        <div class="container margin-bottom-50">
            <div class="col-md-6 col-md-offset-3">
                <h2>Search{% if search_query %} Again{% endif %}</h2>
                <form action="/search/" method="get">
                    {% form search_form using 'forms/search_field.html' %}
                </form>
            </div>
        </div>
    </div>
{% endblock slider %}

{% block base_content %}
    <div class="container">
        {# Moderator Search Picks #}
        {% if search_picks %}
             <ul>
                {% for pick in search_picks %}
                    <li>
                        <h2><a href="{{ pick.page.url }}">{{ pick.page }}</a></h2>
                        <p>{{ pick.description }}</p>
                    </li>
                 {% endfor %}
             </ul>
        {% endif %}
        {# End Moderator Search Picks #}

        {# Search Results #}
        <div class="container s-results margin-bottom-50">
            {% if search_results %}
                {% with page=search_results %}
                    {% if page.paginator.count > 0 %}
                        <hr>
                        <span class="results-number">
                            Searching for <strong class="text-primary">"{{ search_query }}"</strong> ...
                            Showing {{ page.object_list|length }} of {{ page.paginator.count }} Results on Page {{ page.number }} of {{ page.paginator.num_pages }}
                        </span>
                        <hr>
                    {% endif %}
                    {% for result in search_results %}
                        <div class="inner-results">
                            {% if result.blogpage %}
                                {% include "search/results.html" with object=result.blogpage %}
                            {% elif result.series %}
                                {% include "search/results.html" with object=result.series %}
                            {% elif result.homepage %}
                                {% include "search/results.html" with object=result.homepage %}
                            {% elif result.personpage %}
                                {% include "search/results.html" with object=result.personpage %}
                            {% elif result.aboutpage %}
                                {% include "search/results.html" with object=result.aboutpage %}
                            {% elif result.phaseonepage %}
                                {% include "search/results.html" with object=result.phaseonepage %}
                            {% elif result.phasetwopage %}
                                {% include "search/results.html" with object=result.phasetwopage %}
                            {% elif result.phasethreepage %}
                                {% include "search/results.html" with object=result.phasethreepage %}
                            {% else %}
                                Page: {{ result }}
                            {% endif %}
                        </div>
                        <hr>
                    {% empty %}
                        <span class="results-number">Searching for <span class="text-highlights text-highlights-green rounded">{{ query }}</span> ... no results found</span>
                    {% endfor %}

                    {% if page.paginator.count > 0 %}
                        <span class="results-number">
                            Searching for <strong class="text-primary">{{ search_query }}</strong> ...
                            Showing {{ page.object_list|length }} of {{ page.paginator.count }} Results on Page {{ page.number }} of {{ page.paginator.num_pages }}
                        </span>
                        <hr>
                        <div class="text-center">
                            <ul class="pagination">
                                {% if page.number > 1 %}
                                    <li><a href="?query={{ query }}&page={{ page.previous_page_number }}">&laquo;</a></li>
                                {% endif %}
                                {% for p in page.paginator.page_range %}
                                    {% if p == page.number %}
                                        <li class="disabled active"><a href="#">{{ p }}</a></li>
                                    {% else %}
                                        <li><a href="?query={{ query }}&page={{ p }}">{{ p }}</a></li>
                                    {% endif %}
                                {% endfor %}
                                {% if page.has_next %}
                                    <li><a href="?query={{ query }}&page={{ page.next_page_number }}">&raquo;</a></li>
                                {% endif %}
                            </ul>
                        </div>
                    {% endif %}
                {% endwith %}
            {% elif search_query %}
                No results found
            {% endif %}
        </div>
        {# End Search Results #}
    </div>
{% endblock base_content %}