{% load floppyforms wagtailcore_tags sp_core_tags pipeline %}

<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->
<head>
    <title>SP.ca {% block title %}{% endblock title %}</title>

    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    {% block template_meta %}{% endblock template_meta %}

    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="57x57" href="{{STATIC_URL}}/spca/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="{{STATIC_URL}}/spca/favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="{{STATIC_URL}}/spca/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="{{STATIC_URL}}/spca/favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="{{STATIC_URL}}/spca/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="{{STATIC_URL}}/spca/favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="{{STATIC_URL}}/spca/favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="{{STATIC_URL}}/spca/favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="{{STATIC_URL}}/spca/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="{{STATIC_URL}}/spca/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="{{STATIC_URL}}/spca/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="{{STATIC_URL}}/spca/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="{{STATIC_URL}}/spca/favicon/favicon-16x16.png">
    <link rel="manifest" href="{{STATIC_URL}}/spca/favicon/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="{{STATIC_URL}}/spca/favicon/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

    <!-- Web Fonts -->
    <link href="//fonts.googleapis.com/css?family=Open+Sans:400,300,600&amp;subset=cyrillic,latin" rel='stylesheet' type='text/css'>
    <link href='//fonts.googleapis.com/css?family=Passion+One:900' rel='stylesheet' type='text/css'>

    {% stylesheet 'global_css' %}

    <!-- CSS Customization -->
    <link rel="stylesheet" href="{{ STATIC_URL }}spca/css/custom.css">

    {% block template_css %}{% endblock template_css %}
</head>

<body class="header-fixed{% block body_class %}{% endblock body_class %}">
{% block body_content %}
    <div class="wrapper">
        <div class="header-v6 header-classic-dark">
            <!-- Navbar -->
            <div class="navbar mega-menu" role="navigation">
                <div class="container">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="menu-container">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>

                        <!-- Navbar Brand -->
                        <div class="navbar-brand">
                            <a href="/">
                                <img class="default-logo" src="{{ STATIC_URL }}spca/img/logo.png" alt="Logo">
                            </a>
                        </div>
                        <!-- ENd Navbar Brand -->

                        <!-- Header Inner Right -->
                        <div class="header-inner-right">
                            <ul class="menu-icons-list">
                                <li class="menu-icons">
                                    <i id="header-search-button" class="menu-icons-style search search-close search-btn fa fa-search"></i>
                                    <div class="search-open">
                                        <form action="/search/" method="get">
                                            {% form search_form using 'forms/header_search_field.html' %}
                                        </form>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <!-- End Header Inner Right -->
                    </div>

                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse navbar-responsive-collapse">
                        <div class="menu-container">
                            <ul class="nav navbar-nav">
                                <!-- Home -->
                                <li{% block active_home %}{% endblock active_home %}><a href="/"><i class="fa fa-home"></i> Home</a></li>
                                <!-- End Home -->

                                <!-- Pages -->
                                <li class="dropdown mega-menu-fullwidth">
                                    <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">
                                        Pages <b class="caret"></b>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li>
                                            <div class="mega-menu-content disable-icons">
                                                <div class="container">
                                                    <div class="row equal-height">
                                                        <div class="col-md-3 equal-height-in">
                                                            <ul class="list-unstyled equal-height-list">
                                                                <li><h3>About</h3></li>
                                                                <li><a href="/about/"><i class="fa fa-info-circle"></i> About Me<br /><small>Past Experience & Future Goals</small></a></li>
                                                                <li><a href="/about/phase-1/"><i class="fa fa-coffee"></i> Phase 1<br /><small>The Django Web Framework</small></a></li>
                                                                <li><a href="/about/phase-2/"><i class="fa fa-graduation-cap"></i> Phase 2<br /><small>Building Real World Applications</small></a></li>
                                                                <li><a href="/about/phase-3/"><i class="fa fa-trophy"></i> Phase 3<br /><small>Python & Beyond</small></a></li>
                                                                <li><a href="/about/languages/"><i class="fa fa-code"></i> Languages<br /><small>Using The Right Tools</small></a></li>
                                                                <li><a href="/about/frameworks/"><i class="fa fa-cogs"></i> Frameworks<br /><small>The Shoulders Of Giants</small></a></li>
                                                            </ul>
                                                        </div>
                                                        <div class="col-md-3 equal-height-in">
                                                            <ul class="list-unstyled equal-height-list">
                                                                <li><h3>Services</h3></li>
                                                                <li><a href="#"><i class="fa fa-lock"></i> Coming Soon</a></li>
                                                            </ul>
                                                        </div>
                                                        <div class="col-md-3 equal-height-in">
                                                            <ul class="list-unstyled equal-height-list">
                                                                <li><h3>Common Apps</h3></li>
                                                                <li><a href="{% url 'blog:entries' %}"><i class="fa fa-pencil"></i> Weblog</a></li>
                                                                <li><a href="/search/"><i class="fa fa-search"></i> Search</a></li>
                                                            </ul>
                                                        </div>
                                                        <div class="col-md-3 equal-height-in">
                                                            <ul class="list-unstyled equal-height-list">
                                                                <li><h3>Advanced Apps</h3></li>
                                                                <li><a href="#"><i class="fa fa-lock"></i> Coming Soon</a></li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </li>

                                <!-- Blog -->
                                <li class="dropdown">
                                    <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">
                                        <i class="fa fa-pencil"></i> Blog <b class="caret"></b>
                                    </a>
                                    <ul class="dropdown-menu">
                                        {% GetCurrentDate as today %}
                                        <li><a href="{% url 'blog:entries' %}"><i class="fa fa-comments-o"></i> Blog</a></li>
                                        <li><a href="{% url 'blog:series_list' %}"><i class="fa fa-list"></i> Series</a></li>
                                        <li><a href="{% url 'blog:entries_year' year=today.year %}"><i class="fa fa-list"></i> Entries This Year</a></li>
                                        <li><a href="{% url 'blog:entries_month' year=today.year month=today.month %}"><i class="fa fa-list"></i> Entries This Month</a></li>
                                        <li><a href="{% url 'blog:entries_day' year=today.year month=today.month day=today.day %}"><i class="fa fa-list"></i> Entries Today</a></li>
                                    </ul>
                                </li>
                                <!-- End Blog -->
                            </ul>
                        </div>
                    </div><!--/navbar-collapse-->
                </div>
            </div>
            <!-- End Navbar -->
        </div>
        {% block base_breadcrumbs %}{% endblock base_breadcrumbs %}
        {% block slider %}{% endblock slider %}
        {% block base_content %}{% endblock base_content %}
        {% include 'footer.html' %}
    </div>
{% endblock body_content %}

{% javascript 'global_js' %}

{% block template_js %}
    <script type="text/javascript">
        jQuery(document).ready(function() {
            App.init();
            FancyBox.initFancybox();
        });
    </script>
{% endblock template_js %}

<!--[if lt IE 9]>
    <script src="{{ STATIC_URL }}vendors/unify/assets/plugins/respond.js"></script>
    <script src="{{ STATIC_URL }}vendors/unify/assets/plugins/html5shiv.js"></script>
    <script src="{{ STATIC_URL }}vendors/unify/assets/plugins/placeholder-IE-fixes.js"></script>
<![endif]-->

</body>
</html>