{% load wagtailcore_tags sp_blog_tags %}

<!--=== Footer Version 1 ===-->
<div class="footer-v1">
    <div class="footer">
        <div class="container">
            <div class="row">
                <!-- About -->
                <div class="col-md-3 md-margin-bottom-40">
                    <a href="index.html">
                        <img class="footer-logo" src="{{ STATIC_URL }}spca/img/logo.png" alt="">
                    </a>
                    <p id="mo">The mission is to be able to rapidly develop web applications with <a href="http://www.python.org/">Python</a>
                    and <a href="https://www.djangoproject.com/">Django</a>, using <a href="http://html5boilerplate.com/">HTML5
                    Boiler Plate</a> as a standards compliant base template, <a href="http://getbootstrap.com/">Twitter
                    Bootstrap</a> for responsive style sheet layouts and the <a href="http://jquery.com/">jQuery</a>
                    javascript framework for user interface functionality.</p>
                </div><!--/col-md-3-->
                <!-- End About -->

                <!-- Latest -->
                <div class="col-md-3 md-margin-bottom-40">
                    <div class="posts">
                        <div class="headline"><h2>Latest Posts</h2></div>
                        {% ListRecent 3 as recent_posts %}
                        <ul class="list-unstyled latest-list">
                            {% for post in recent_posts %}
                                <li>
                                    <a href="{% pageurl post %}">{{ post.title }}</a>
                                    <small>{{ post.date|date:"F d / Y" }}</small>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div><!--/col-md-3-->
                <!-- End Latest -->

                <!-- Link List -->
                <div class="col-md-3 md-margin-bottom-40">
                    <div class="headline"><h2>Useful Links</h2></div>
                    <ul class="list-unstyled link-list">
                        <li><a href="/about/">About Me</a><i class="fa fa-angle-right"></i></li>
                        <li><a href="{% url 'blog:entries' %}">Weblog</a><i class="fa fa-angle-right"></i></li>
                        <li><a href="/about/phase-1/">Apps</a><i class="fa fa-angle-right"></i></li>
                    </ul>
                </div><!--/col-md-3-->
                <!-- End Link List -->

                <!-- Address -->
                <div class="col-md-3 map-img md-margin-bottom-40">
                    <div class="headline"><h2>Contact Me</h2></div>
                    <address class="md-margin-bottom-40">
                        Email: <a href="mailto:email@shawnparsons.ca" class="">email@shawnparsons.ca</a>
                    </address>
                </div><!--/col-md-3-->
                <!-- End Address -->
            </div>
        </div>
    </div><!--/footer-->

    <div class="copyright">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <p>
                        2015 &copy; All Rights Reserved.
                       <a href="#">Privacy Policy</a> | <a href="#">Terms of Service</a>
                    </p>
                </div>

                <!-- Social Links -->
                <div class="col-md-6">
                    <ul class="footer-socials list-inline">
                        <li>
                            <a href="#" class="tooltips" data-toggle="tooltip" data-placement="top" title="" data-original-title="Twitter">
                                <i class="fa fa-twitter"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="tooltips" data-toggle="tooltip" data-placement="top" title="" data-original-title="Github">
                                <i class="fa fa-github"></i>
                            </a>
                        </li>
                    </ul>
                </div>
                <!-- End Social Links -->
            </div>
        </div>
    </div><!--/copyright-->
</div>
<!--=== End Footer Version 1 ===-->