{% load wagtailcore_tags django_markdown %}
<div class="context-bg">
    <div class="bg-danger"><i class="fa fa-bolt"></i> <strong>DANGER</strong><br>
        {{ self.message|markdown }}
    </div>
</div>