{% load wagtailcore_tags django_markdown %}
<div class="context-bg">
    <div class="bg-info"><i class="fa fa-info"></i> <strong>INFO</strong><br>
        {{ self.message|markdown }}
    </div>
</div>