{% load wagtailcore_tags django_markdown %}
<div class="context-bg">
    <div class="bg-warning"><i class="fa fa-exclamation"></i> <strong>WARNING</strong><br>
        {{ self.message|markdown }}
    </div>
</div>