{% extends 'base.html' %}
{% load pipeline %}

{% block title %} | Blog{% endblock title %}

{% block template_css %}
    {{ block.super }}
    {% stylesheet 'blog_css' %}
{% endblock template_css %}

{% block template_js %}
    {% javascript 'blog_js' %}
{% endblock template_js %}

{% block base_breadcrumbs %}
    <div class="breadcrumbs">
        <div class="container">
            <h1 class="pull-left">{% block content_title %}{% endblock content_title %}</h1>
            <ul class="pull-right breadcrumb">
                {% block breadcrumbs %}{% endblock breadcrumbs %}
            </ul>
        </div>
    </div>
{% endblock base_breadcrumbs %}

{% block base_content %}
    <!--=== Content Part ===-->
    <div class="container content">
        <div class="row">
            <!-- Begin Content -->
            <div class="col-md-9">
                {% block content %}{% endblock content %}
                {% block page_footer %}{% endblock page_footer %}
            </div>
            <!-- End Content -->

            <!-- Right Sidebar -->
            <div class="col-md-3 magazine-page">
                {% include 'sp_blog/sidebar.html' %}
            </div>
            <!-- End Right Sidebar -->
        </div>
    </div><!--/container-->
{% endblock base_content %}