{% extends 'base.html' %}
{% load pipeline %}

{% block title %}| {{ self.title }}{% endblock title %}

{% block template_css %}
    {{ block.super }}
    {% stylesheet 'cms_css' %}
{% endblock template_css %}

{% block template_js %}
    {% javascript 'cms_js' %}
{% endblock template_js %}

{% block base_breadcrumbs %}
    <div class="breadcrumbs">
        <div class="container">
            <h1 class="pull-left">{{ self.title }}</h1>
            <ul class="pull-right breadcrumb">
                {% block breadcrumbs %}{% endblock breadcrumbs %}
            </ul>
        </div>
    </div>
{% endblock base_breadcrumbs %}

{% block base_content %}
    <!-- MAIN CONTENT -->
    {% block content %}{% endblock content %}
    {% block page_footer %}{% endblock page_footer %}
{% endblock base_content %}