<div class="input-group">
    <input id="header-search" name="query" type="text" class="form-control animated fadeIn form-control" placeholder="Start searching ...">
    <span class="input-group-btn">
        <input class="btn-u" type="submit"><i class="fa fa-search"></i>
    </span>
</div>