<div class="input-group">
    <input type="text" name="query" class="form-control" placeholder="START SEARCHING ..."{% if search_query %} value="{{ search_query }}"{% endif %}>
    <span class="input-group-btn">
        <input class="btn-u" type="submit"><i class="fa fa-search"></i>
    </span>
</div>